// fuente
$fuenteBase: 'Inter', sans-serif;

// colores
$fondo1: #2F80ED;
$fondo2: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);;

$blanco: #fff;
$gris1: #E0E0E0;
$gris2: #ACACAC;
$gris3: #838383;
$gris4: #555555;
$gris5: #2b2b2b;
$negro: #000;

// media querys
$phone: 380px;
$mid: 480px;
$tablet: 768px;
$desktop: 1080px;