@use '../base' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
    margin: 0;
    // padding:0;
    scroll-behavior: smooth;
}
body{
    background-color: v.$fondo1;
    background: v.$fondo2;
    color: v.$negro;
    font: v.$f1;    
}
main{
    height: 100vh;
    padding: 2.4rem;
    
    @include v.tablet{
        padding:0;
    }
}
.wrapper {
    display: inline;
    margin: auto auto;

    @include v.tablet{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 17rem;
    }
}
